/* colortheme */
/* #011C26 */
/* #025930 */
/* #B0D9B6 */
/* #BFA004 */
/* #A6341B */

/* light theme */
:root {
  --primary: #025930;
  --primary-900: #D9E6E0;
  --primary-800: #A6C5B7;
  --primary-700: #81AC98;
  --primary-600: #357A59;
  --primary-500: #357A59;
  --primary-400: #013E22;
  --primary-300: #01311A;
  --primary-200: #01160C;
  --primary-100: #000905;
  --secondary: #BFA004;
  --secondary-900: #ece3b4;
  --secondary-800: #dfd082;
  --secondary-700: #d2bd4f;
  --secondary-600: #c5aa1d;
  --secondary-500: #bfa004;
  --secondary-400: #998003;
  --secondary-300: #736002;
  --secondary-200: #4c4002;
  --secondary-100: #262001;
  /* --background: #011C26; */
  /* --foreground: #fafafa;   */
  --background: #fafafa;
  --foreground: #011C26;  
}

h2 {
  font-size: 4rem;
  font-weight: 200;
  color: var(--secondary-200);
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--secondary-100);
}

h4 {
  font-size: 1.5;
  font-weight: 500;
  color: var(--secondary-300);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--primary-500);
}
a:visited {
  color: var(--secondary-600);
}
a:hover {
  color: var(--primary-100);
}
a:active {
  color: var(--primary-300);
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--primary-700);
}


.contentSection {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.contentSection .subsection {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .contentSection.about { */
/*   display: flex; */
/*   flex-direction: row; */
/*   flex-wrap: wrap; */
/* } */

.contentSection.about .subsection.introduction {
  display: flex;
  flex-direction: row;
}
.contentSection.about .subsection.introduction .aboutMe {
  min-width: 0;
  min-height: 0;
  flex: 1 2 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 2rem;
}
.contentSection.about .subsection.introduction .images {
  flex: 2 2 0%;
}

.subsection {
  display: flex;
}
.contentSection.projects .subsection {
  flex-direction: row;
}
.contentSection.projects .subsection .images {
  flex: 1 1 auto;
}
.contentSection.projects h3 {
  text-align: center;
}

.contentSection.about .subsection {
  flex-direction: column;
  align-items: right;
  justify-content: flex-end;
}
.contentSection.about .subsection p {
  text-align: right;
}
.contentSection.about .subsection h2 {
  text-align: right;
  width: fit-content;
}
.contentSection.about .subsection h3 {
  text-align: center;
}
.contentSection.about .subsection ul {
  justify-content: center;
  flex-wrap: wrap;
}

.contentSection.career h2 {
  text-align: center;
}
.contentSection.career h3 {
  text-align: center;
}
.contentSection.career ul {
  justify-content: center;
  flex-wrap: wrap;
}

.contentSection.contact {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contentSection.contact .info{
  justify-self: center;
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-400);
}

.contentSection.contact .item {
  padding: 1rem;
}


.footer {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  /* background-color: var(--primary-800); */
  border-top: 2px solid var(--primary-800);
}
.footer .item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  text-decoration: solid;
}
.footer .item a {
  padding: 0.2rem;
}

#smvImages {
  margin-right: 2rem;
}

#northern_lights_1 {
  /* clip-path: path('M 0,600 C 0,600 0,300 0,300 C 50,341 101,382 169,400 C 236,417 319,411 399,397 C 478,382 552,359 617,340 C 681,320 734,304 799,284 C 863,263 937,237 1016,255 C 1094,272 1176,334 1248,349 C 1319,363 1379,331 2000,300 C 2000,300 2000,600 2000,600 Z'); */
  /* clip-path: path('m -1.0465737,137.59898 c 0,0 202.5506937,-134.34593 317.5732937,-134.99165 131.19725,-0.73652 182.17947,130.82977 312.34863,114.42084 48.64916,-6.13265 120.58445,-48.44648 169.44673,-52.54874 121.17897,-10.17364 146.21095,131.3402 261.56362,92.84862 59.459,-19.84064 98.9091,-53.26666 145.2813,-95.44061 67.7244,-61.59303 164.9478,-70.78963 244.6188,-25.7028 107.408,60.78354 112.7085,192.63996 230.1723,214.0354 97.1155,17.6891 242.073,-75.97309 242.073,-75.97309 v 762.55414 c 0,0 -138.0458,55.96813 -210.2435,52.87849 C 1602.1982,984.98979 1585.8233,875.22746 1471.074,895.66692 1388.0462,910.45605 1340.2881,1079.5345 1241.3268,1078.957 1121.8471,1078.2597 1060.251,896.55122 941.61705,882.34288 822.83611,868.11693 798.95639,1007.5131 666.23964,1009.8795 547.57825,1011.9954 517.44385,891.11341 401.06449,914.36951 324.02987,929.76335 237.21615,992.56755 160.25316,1008.3156 100.08882,1020.6263 1.9080098,914.14273 1.9080098,914.14273 Z'); */
  clip-path: path('m 0,137 c 0,0 202,-134 317,-134 131,0 182,130 312,114 48,-6 120,-48 169,-52 121,-10 146,131 261,92 59,-19 98,-53 145,-95 67,-61 164,-70 244,-25 107,60 112,192 230,214 97,17 242,-75 242,-75 v 762 c 0,0 -138,55 -210,52 -109,-4 -125,-114 -240,-94 -83,14 -127,164 -226,164 C 1125,1059 1060,896 941,882 822,868 798,1007 666,1009 547,1011 517,891 401,914 324,929 237,992 160,1008 100,1020 1,914 1,914 Z');
}

.sectionSplitter {
  /* height: 50vh; */
  width: 100vw;
}

#oot-text {
  max-width: 30rem;
  margin-right: 2rem;
}
#into-data-text {
  max-width: 40rem;
  margin-left: 2rem;
}
